body {
    background-color: #90EE90;
    font-family: Arial, sans-serif;
}

.form-section,
.thank-you-section {
    text-align: center;
    margin-top: 20px;
}

.thank-you-section {
    display: none;
}
footer{
    text-align: center;
}
